@model CivicExamination.Models.questionCorrectionViewModel
@{
    Layout = null;
}
@using (Html.BeginForm("UpdateAnswer", "MainExamination", FormMethod.Post, new { id = "updateQuestionFrm" }))
{
    <div class="row page-breaker">
        <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
          @if (Model.IsCorrect)
          {
            <div class="panel panel-success">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div>
                                    @Model.Question.Question
                                </div>


                                <div Id="mainImageContainer">
                                    @if (Model.Question.MainQuestionImage != null)
                                    {
                                        <img alt="Main Image" style="max-width:100%;" src="@String.Format("data:{0};base64,{1}", Model.Question.MainQuestionImage.contentType, Model.Question.MainQuestionImage.content64base)" />
                                        
                                    }
                          
                                </div>
                                <hr />

                                <div class="row">
                                    @if (Model.UserAnswer != null)
                                    {
                                        foreach (var item in Model.UserAnswer)
                                        {
                                            Html.RenderPartial("WithSelectionQuestionChoices", item);
                                        }
                                    }


                                    </div>



                                </div>

                        </div>
                    </div>
                </div>
            </div>
          }
          else
          {
            <div class="panel panel-danger">
                <div class="panel-heading"></div>
                <div class="panel-body">
                    <div class="col-sm-12 col-xs-12 col-lg-12 col-md-12">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <div>
                                    @Model.Question.Question
                                </div>


                                <div Id="mainImageContainer">
                                    @if (Model.Question.MainQuestionImage != null)
                                    {
                                        <img alt="Main Image" class="questionImg" src="@String.Format("data:{0};base64,{1}", Model.Question.MainQuestionImage.contentType, Model.Question.MainQuestionImage.content64base)" />
                                    }
                                </div>
                                <hr />


                                @if (Model.UserAnswer != null)
                                {
                                    foreach (var item in Model.UserAnswer)
                                    {
                                        Html.RenderPartial("WithSelectionQuestionChoices", item);
                                    }
                                }






                            </div>

                        </div>
                    </div>
                </div>
            </div>

          }
        </div>
    </div>
}