@model  string

<div class="row messageContainer" style="margin-top:auto">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 chatContainerTo">
        <div class="container darker  miniMessageContainer">
            <p>@Model</p>
        </div>
    </div>
</div>
